/* font settings */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Titillium+Web:wght@400;600&display=swap');
/* font families */
$font-f-m: 'Titillium Web', sans-serif;
$font-f-hl: 'Patrick Hand', cursive;

/* font weights */
$font-w-n: 400;
$font-w-sb: 600;

/* font styles */
$font-s-n: none;